@media screen and (max-width: 900px) {
    body {
        flex-direction: column;
    }

    .main-window {
        width: 100%;
        min-height: 100vh;
    }

    .main-grades {
        font-size: 7rem;
    }

    .main-name-weather {
        font-size: 2rem;
    }

    .secondary-window {
        width: 100%;
        padding: 1.7em;
        min-height: 100vh;
    }

    .container-search {
        width: 100%;
        min-height: 100vh;
    }
}

@media screen and (max-height: 790px) {
    .main-image-container {
        height: 16em;
    }

    .main-grades {
        font-size: 5rem;
    }

    .main-name-weather {
        font-size: 1.5rem;
    }
}