<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/window-left.css">
    <link rel="stylesheet" href="/static/css/window-right.css">
    <link rel="stylesheet" href="/static/css/container-search.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500&display=swap" rel="stylesheet">
    <title>Weather App</title>
</head>
<body>
    <article class="main-window">
        <div class="main-container-buttons">
            <button class="buttons button-search-place" id="searchPlace">Search for places</button>
            <button class="buttons main-button-location">
                <img src="/static/img/ubicacion.png" alt="location" width="30">
            </button>
        </div>
        <div class="main-container-weather">
            <div class="main-image-container">
                <img src="../static/img/{{ today.1 }}.png" alt="Shower" class="main-image" width="150">
            </div>
            <p class="main-grades">{{ today.0 }}<span>°C</span></p>
            <h1 class="main-name-weather">{{ today.1 }}</h1>
        </div>
        <div class="main-footer">
            <p class="main-footer-content">Today <span>·</span> {{ today.2 }}</p>
            <p class="main-footer-content">{{ today.7 }}</p>
        </div>
    </article>
    <section class="secondary-window">
        <div class="secondary-container-buttons">
            <button class="buttons secondary-buttons">°C</button>
            <button class="buttons secondary-buttons">°F</button>
        </div>
        <div class="secondary-container-weather">
            <ul class="secondary-weather">
                <li class="secondary-item-weather">
                    <h2 class="secondary-item-weather-text">Tomorrow</h2>
                    <img src="/static/img/{{ anothersDays.0.2 }}.png" class="sencondary-item-weather-img" alt="Sleet" width="75">
                    <div class="secondary-item-weather-text">
                        <p class="secondary-item-weather-g1">{{ anothersDays.0.0}}°C</p>
                        <p class="secondary-item-weather-g2">{{ anothersDays.0.1}}°C</p>
                    </div>
                </li>
                <li class="secondary-item-weather">
                    <h2 class="secondary-item-weather-text">{{ anothersDays.1.3}}</h2>
                    <img src="/static/img/{{ anothersDays.1.2 }}.png" class="sencondary-item-weather-img" alt="Sleet" width="75">
                    <div class="secondary-item-weather-text">
                        <p class="secondary-item-weather-g1">{{ anothersDays.1.0 }}°C</p>
                        <p class="secondary-item-weather-g2">{{ anothersDays.1.1 }}°C</p>
                    </div>
                </li>
                <li class="secondary-item-weather">
                    <h2 class="secondary-item-weather-text">{{ anothersDays.2.3}}</h2>
                    <img src="/static/img/{{ anothersDays.2.2 }}.png" class="sencondary-item-weather-img" alt="Thunderstorm" width="75">
                    <div class="secondary-item-weather-text">
                        <p class="secondary-item-weather-g1">{{ anothersDays.2.0 }}°C</p>
                        <p class="secondary-item-weather-g2">{{ anothersDays.2.1 }}°C</p>
                    </div>
                </li>
                <li class="secondary-item-weather">
                    <h2 class="secondary-item-weather-text">{{ anothersDays.3.3}}</h2>
                    <img src="/static/img/{{ anothersDays.3.2 }}.png" class="sencondary-item-weather-img" alt="LightCloud" width="75">
                    <div class="secondary-item-weather-text">
                        <p class="secondary-item-weather-g1">{{ anothersDays.3.0 }}°C</p>
                        <p class="secondary-item-weather-g2">{{ anothersDays.3.1 }}°C</p>
                    </div>
                </li>
                <li class="secondary-item-weather">
                    <h2 class="secondary-item-weather-text">{{ anothersDays.4.3}}</h2>
                    <img src="/static/img/{{ anothersDays.4.2 }}.png" class="sencondary-item-weather-img" alt="LightRain" width="75">
                    <div class="secondary-item-weather-text">
                        <p class="secondary-item-weather-g1">{{ anothersDays.4.0 }}°C</p>
                        <p class="secondary-item-weather-g2">{{ anothersDays.4.1 }}°C</p>
                    </div>
                </li>
            </ul>
        </div>
        <section class="secondary-container-highlights">
            <h2 class="sencondary-highlights-title">Today's Highlights</h2>
            <div class="sencondary-highlights-item">
                <h3 class="secondary-item-highlights-title">Wind status</h3>
                <p class="secondary-item-highlights-p">{{ today.3 }}<span>mph</span></p>
                <p class="sencondary-item-highlights-foot">wsw</p>
            </div>
            <div class="sencondary-highlights-item">
                <h3 class="secondary-item-highlights-title">Humidity</h3>
                <p class="secondary-item-highlights-p">{{ today.4 }}<span>%</span></p>
                <input type="range">
            </div>
            <div class="sencondary-highlights-item">
                <h3 class="secondary-item-highlights-title">Visibility</h3>
                <p class="secondary-item-highlights-p">{{ today.5 }} <span>miles</span></p>
            </div>
            <div class="sencondary-highlights-item">
                <h3 class="secondary-item-highlights-title">Air Pressure</h3>
                <p class="secondary-item-highlights-p">{{ today.6}} <span>mb</span></p>
            </div class="sencondary-item-highlights">
        </section>
        <p class="secondary-footer">Sebastian Retiz @ DevChallenges.io</p>
    </section>
    <div class="container-search" id="containerSearch">
        <button class="buttons close-container-search" id="closeContainerSearch">X</button>
        <div class="search">
            <input type="text" class="input-search" placeholder="search location">
            <button class="submit-search">Search</button>
        </div>
        <div class="search-results">
            <a href="##" class="search-result-item">London</a>
            <a href="##" class="search-result-item">Barcelona</a>
            <a href="##" class="search-result-item">Long Beach</a>
        </div>
    </div>

    <script src="/static/js/open-search.js"></script>
</body>
</html>